@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body {
    padding: 0px;
    margin: 0px;
}


body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #202020;
}

#canvas {
    display: block;



}

.row {
    background-color: #202020;
    align-items: center;
    font-family: "Roboto Condensed", sans-serif;
    width: 100%;


}

.row .menuDropdown {
    display: flex;
    justify-content: start;
    margin-left: 25px;

}

.btnDropdownMenu {
    padding: 10px;
    border: none;
    background-color: #ffffff;
    border-radius: 3px;
    color: black;
    text-align: center;


}
.col-sm-6 {
    
}
.nav {
    padding: 10px;
    position: relative;
    background-color: rgb(42, 41, 41);
    
    /* Añadido para posicionar el ::before relativo al .nav */

}
#showName {
    color: white !important;
    overflow: hidden; /* Oculta cualquier texto que desborde del contenedor */
    text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto desborde */
    white-space: nowrap; /* Evita que el texto se divida en varias líneas */
}


.dropdown-toggle {
    background-color: #272727 !important;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    color: white;
}

.dropdown-menu {
    background-color: #272727;
    padding: 0;
    width: 200px;

}

.dropdown-menu li {
    padding: 0px !important;
}

.dropdown-menu li span {
    color: white;
}

.dropdown-menu li span:hover {
    background-color: white;
    color: black;
    box-shadow: none;
}

.dropdown-menu li span input {
    box-shadow: none;

}

.dropdown-menu li:hover {
    background-color: white;
    color: black;
}

.dropdown-menu button {
    background-color: rgba(0, 0, 0, 0) !important;
    color: white;
    box-shadow: none !important;

}

.menuFilters {}


.nav::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    /* Añadido para asegurar la posición del ::before */
    width: 100px;
    /* Añadido para que ocupe todo el ancho */
    height: 100%;
    border-right: 100px solid transparent;
    border-bottom: 70px solid #202020;
}

.nav::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    /* Añadido para asegurar la posición del ::before */
    width: 100px;
    /* Añadido para que ocupe todo el ancho */
    height: 100%;
    border-left: 100px solid transparent;
    border-bottom: 70px solid #202020;
}

.nav li {
    padding: 10px;
}

.item-range {
    display: flex;
    justify-content: space-around;
}

#valueRange {
    color: white;
    font-weight: 700;
}

#valueRange {
    box-shadow: 5px 5px 5px black;
    height: 25px;
    text-align: center;
    padding: 2px;
    width: 25px;
}

.nav li button {
    border: none;
    background-color: #272727;
    color: white;
    box-shadow: 5px 5px 5px black;
    border-radius: 3px;


}

.modal-header {
    background-color: #202020;
    font-family: 'Roboto Condensed', sans-serif !important;
    color: white;

}




.modal-header h1 {
    text-align: center;
    width: 100%;
}

.modal-body {
    font-family: 'Roboto Condensed', sans-serif !important;
}

#fileName {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.file-select {
    position: relative;
    display: block;
    width: 100%;

}

.file-select::before {
    background-color: #202020;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar';
    /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 155px;
    margin: auto;
}

.file-select input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 32px;
    display: block;
}

input[type="color"] {
    box-shadow: 5px 5px 5px black;
}

input[type="range"] {
}

#src-file1::before {
    content: 'Seleccionar Archivo';
}

.modal-body h3 {
    width: 100%;
    text-align: center;
}

.modal-body ul li {
    list-style: none;
}

.modal-footer button {
    background-color: #202020 !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;


}

.btnClose:hover {
    background-color: white !important;
    color: red;
    font-weight: 700;
    font-size: 18px;
    transition-duration: 0.5s;
}

.btnAcceptImg:hover {
    background-color: white !important;
    color: green;
    font-weight: 700;
    font-size: 18px;
    transition-duration: 0.5s;

}