@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --bg1: #181818;
    --bg2: #202020;
  }
body {
    padding: 0px;
    margin: 0px;
    background-color: #181818;
}


#canvas {

    border-bottom: 1px solid gray;
    background-color: white;
    box-shadow: 3px 7px 10px 0px rgba(0, 0, 0, 0.75);

}

@media (width <=1000px) {


    .menu {
        display: flex;
        flex-direction: column !important;
        background-color: green;
    }

    .part-filters {
        width: 100% !important;
    }

    .part-archive {
        width: 100% !important;
        padding: 10px !important;
    }

    .part-show-name {
        width: 100% !important;
        padding: 10px;
    }

}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 10px;
    font-family: 'Roboto Condensed', sans-serif ;


}

.part-archive {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg1);

}

.part-show-name {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg1);
    width: 20%;
}

.part-show-name div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#showName {
    margin-top: 15px;
    color: white !important;
    overflow: hidden;
    /* Oculta cualquier texto que desborde del contenedor */
    text-overflow: ellipsis;
    /* Muestra puntos suspensivos (...) cuando el texto desborde */
    white-space: nowrap;
    /* Evita que el texto se divida en varias líneas */
    background-color: var(--bg2);
    text-align: center;
    padding: 10px;
    width: 250px;
    /* Ajusta el ancho del contenedor */
    position: relative;
    font-size: 16px;
    /* Reducir el tamaño de la fuente */
}

#showName::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    /* Añadido para asegurar la posición del ::before */
    width: 40px;
    /* Añadido para que ocupe todo el ancho */
    height: 100%;

    border-right: 50px solid transparent;
    border-bottom: 20px solid var(--bg1);
    border-top: 20px solid var(--bg1);

}

#showName::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    /* Añadido para asegurar la posición del ::before */
    width: 40px;
    /* Añadido para que ocupe todo el ancho */
    height: 100%;
    border-left: 50px solid transparent;
    border-bottom: 20px solid var(--bg1);
    border-top: 20px solid var(--bg1);

}


.part-filters {

    width: 60%;
}

.nav {
    padding: 10px;
    position: relative;

    /* Añadido para posicionar el ::before relativo al .nav */

}


.dropdown-toggle {
    background-color: var(--bg1) !important;
    border-radius: 5px;
    box-shadow: 5px 5px 5px black;
    color: white;
}

.dropdown-menu {
    background-color: var(--bg1);
    padding: 0;
    width: 200px;

}

.dropdown-menu li {
    padding: 0px !important;
    cursor: pointer;
}

.dropdown-menu li span {
    color: white;
}

.dropdown-menu li span:hover {
    background-color: var(--bg2);
    color: white;
    box-shadow: none;
}

.dropdown-menu li span input {
    box-shadow: none;

}

.dropdown-menu li button:hover {
    background-color: var(--bg2);
    color: white ;
}

.dropdown-menu button {
    color: white;
    box-shadow: none !important;

}

.nav {

    padding-left: 50px;
    padding-right: 30px;
    background-color: var(--bg2) !important;
}

.nav::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    left: 0px;
    /* Añadido para asegurar la posición del ::before */
    width: 100px;
    /* Añadido para que ocupe todo el ancho */
    height: 100%;
    border-right: 100px solid transparent;
    border-bottom: 70px solid var(--bg1);
}

.nav::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    /* Añadido para asegurar la posición del ::before */
    width: 100px;
    /* Añadido para que ocupe todo el ancho */
    height: 100%;
    border-left: 100px solid transparent;
    border-bottom: 70px solid var(--bg1);
}

.nav li {
    padding: 10px;
}

.item-range {
    display: flex;
    justify-content: space-around;
}

#valueRange {
    color: white;
    font-weight: 700;
}

#valueRange {
    box-shadow: 5px 5px 5px black;
    height: 25px;
    text-align: center;
    padding: 2px;
    width: 25px;
    background-color: var(--bg1);
    border-radius: 5px;
}

.nav li button {
    border: none;
    background-color: var(--bg1);
    color: white;
    box-shadow: 5px 5px 5px black;
    border-radius: 3px;


}

.modal-header {
    background-color: #202020;
    font-family: 'Roboto Condensed', sans-serif !important;
    color: white;

}




.modal-header h1 {
    text-align: center;
    width: 100%;
}

.modal-body {
    font-family: 'Roboto Condensed', sans-serif !important;
}

#fileName {
    width: 100%;
    text-align: center;
    margin-top: 5px;
}

.file-select {
    position: relative;
    display: block;
    width: 100%;

}

.file-select::before {
    background-color: var(--bg2);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 3px;
    content: 'Seleccionar';
    /* testo por defecto */
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 155px;
    margin: auto;
}

.file-select input[type="file"] {
    opacity: 0;
    width: 100%;
    height: 32px;
    display: block;
}

input[type="color"] {
    box-shadow: 5px 5px 5px black;
}

input[type="range"] {}

#src-file1::before {
    content: 'Seleccionar Archivo';
}

.modal-body h3 {
    width: 100%;
    text-align: center;
}

.modal-body ul li {
    list-style: none;
}

.modal-footer button {
    background-color: var(--bg2) !important;
    font-family: 'Roboto Condensed', sans-serif !important;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 5px;


}

.btnClose:hover {
    background-color: white !important;
    color: red;
    font-weight: 700;
    font-size: 18px;
    transition-duration: 0.5s;
}

.btnAcceptImg:hover {
    background-color: white !important;
    color: green;
    font-weight: 700;
    font-size: 18px;
    transition-duration: 0.5s;

}